#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:burlywood
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.card {
  border: 1px solid red;
  width: inherit;
  height: 15em;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flip {
  transform: rotateX(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front p, .back p {
  position: relative;
  transform: translateY(-50%);
  display: inline-block;
  font-size: large;
}

.back {
  transform: rotateX(180deg);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}